@font-face {
    font-family: 'AVENGEANCEHEROICAVENGERAT';
    src: url('../fonts/AVENGEANCEHEROICAVENGERAT.eot');
    src: url('../fonts/AVENGEANCEHEROICAVENGERAT.eot') format('embedded-opentype'),
         url('../fonts/AVENGEANCEHEROICAVENGERAT.woff2') format('woff2'),
         url('../fonts/AVENGEANCEHEROICAVENGERAT.woff') format('woff'),
         url('../fonts/AVENGEANCEHEROICAVENGERAT.ttf') format('truetype'),
         url('../fonts/AVENGEANCEHEROICAVENGERAT.svg#AVENGEANCEHEROICAVENGERAT') format('svg');
}
#pg1{
  /* BACKGROUND - SE HOUVER */
}
p , h4{
}
.asideSectionStyle a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bolder;
  padding: 5px;
  border-radius: 15px 15px;  
  font-size: 20px;
  transition: 0.8s;
  border: 3px solid white;
}
.asideSectionStyle a:hover{
  background-color:red;
  color: white;
    border: 3px solid red;
}
.asideSectionStyle{
  width: 95%;
  margin: 5px auto 5px auto;
  padding: 35px;
  background-image:linear-gradient(to bottom, rgba(175, 27, 114, 0.726),rgba(76, 16, 100, 0.644)); 
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
}
.footerStyle{
  position: relative;
  bottom: 0;
}
.botoesStyle{
  position: absolute;
  margin-top:-250px;
  border-radius: 5%;
}
/*algo aleatorio */
p{
  text-align: justify;
  text-indent: 1.5em;
}
span{
  font-weight: bolder;
}
button.btnSobre{
  font-weight: bolder;
  color: white;
  background-color: rgb(150, 0, 125);
  font-size: 25px;
  margin-bottom: 5px;
  padding: 5px 15px 2px 3px;
  border-radius: 0px 15px 15px 0px;
  border: none;
  outline: none;
}
button.btnSobre:hover{
  padding: 8px 18px 4px 6px;
}
div.menuDinamico{
  margin-bottom: -48px;
}
section.blocos{
  width: 100vw;
  height: 54vh;
}
section#pg1{
  background-color:white;
  color: black;
}
section#pg1 h1{
  margin-top: 50px;
  padding: 0;
  font-size: 20px;
  font-family: AVENGEANCEHEROICAVENGERAT;
}
section#pg1 img{
  display: block;
  float: right;
  padding-top: 0px;
  margin-top: -80px;
  width: 50%;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0,0, 0, 0.5)
}
.modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0,0.2),0 7px 20px 0 rgb(0, 0, 0,0.17)
}
